//VARIABLES
$bluefont: #356b99;
$SerifFam: civita-lightregular;
// mixins
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}


/*INTRO SECTION*/

.uniIntroContainer {
    font-size: 18px;
    line-height: 2em;
    p .drop-cap {
        float: left;
        color: $bluefont;
        font-size: 75px;
        line-height: 47px;
        padding-top: 17px;
        padding-right: 4px;
        padding-left: 0px;
        font-family: $SerifFam;
    }
}

.uni-row{
	margin-top: 50px;
	margin-bottom: 50px;
    h2{
        font-family: $SerifFam;
        color: $bluefont;
        text-align: center;
        margin-bottom: 25px;
    }
}

.uni-shade-image {
    position: relative;
    margin-top: 5px;
    //float: right;
    .uni-shade-image-image {
        border: solid 6px #EEE;
    }
    .img-shadow {
        position: absolute;
        -webkit-box-shadow: 4px 4px 6px 1px rgba(0, 0, 0, 0.3);
        box-shadow: 4px 4px 6px 1px rgba(0, 0, 0, 0.3);
        width: 50%;
        height: 5px;
        margin-right: 50px;
        @include border-radius(50%);
        z-index: -1;
        bottom: 7px;
    }
    .img-shadow-left {
        @include transform (rotate(-5deg));
        left: 15px;
    }
    .img-shadow-right {
        @include transform (rotate(5deg));
        right: -30px;
    }
}

.uni-row .uni-blist{
	&:first-child{
		margin-left: 15px;
	}
	&:last-child{
		margin-right: 15px;
	}
}

.uni-blist{
	li{
		list-style-type: none;
        list-style-position: outside;
		padding: 8px;
        &:nth-child(odd){
            background-color: lighten($bluefont, 58%);
        }
        &:hover{

        }
	} 
}
