<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Uniworld Landing Page Template</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://uniworld.com/assets/css/main.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
    <!--Page Container-->
    <div class="container">
        <header class="uni-module-header uni-module-header-lines">
            <!--Page TITLE-->
            <h1 class="uni-module-title">Title Goes Here</h1>
            <!--Page INTRO CONTENT-->
            <div class="intro">
            </div>
            <!--Page Main CONTENT-->
            <div class="content-body">
            </div>
        </header>
    </div>
    <!--End Page Container-->
</body>

</html>
