//colors
$color_matisse: #1b5b92;
$color_chathams_blue: #174e7c;
$color_mercury: #e2e5e8;
$color_calypso: #356b99;
//fonts
$font_0: proxima-nova;
$font_1: civita-lightregular;
.uniTall {
    article {
        font-size: 13px;
        font-family: $font_0;
        letter-spacing: .05em;
    }
    h2 {
        font-family: $font_1;
        font-size: 2em;
        margin: 0 0 8px 0;
    }
    h3 {
        font-size: 1.15em;
        text-transform: uppercase;
        margin: 0 0 1.25em 0;
    }
    p {
        font-size: 1.15em;
        margin-bottom: 1em;
        strong {
            text-transform: uppercase;
        }
    }
    &.row {
        height: auto;
        padding-bottom: 35px;
        &:first-child {
            margin-top: 35px;
        }
    }
    .uniItinHalf {
        padding: 0;
    }
    .buttonContainer {
        margin-top: 10px;
        .btn {
            border-radius: 0;
            text-transform: uppercase;
            letter-spacing: .05em;
            font-size: .9em;
            padding: 7px 30px;
        }
        .uni-btn {
            font-weight: 100;
            padding: 7px 30px;
        }
        .btn-small {
            border-bottom-width: 0;
            padding: 7px 30px;
        }
        .btn-primary {
            background-color: $color_matisse;
            &:hover {
                background-color: $color_chathams_blue;
            }
        }
    }
}

.fiftyfifty {
    padding-bottom: 35px;
    .col-sm-6:first-child .uniItinHalf article {
        margin-left: -15px;
    }
    .uniTall.row {
        padding-bottom: 0;
    }
}

.itinImageWrap {
    border: 5px solid $color_mercury;
    padding: 3px;
    position: relative;
    .uni-new {
        position: absolute;
        top: 8px;
        left: 8px;
        padding: 3px 8px;
        background: $color_calypso;
        text-transform: uppercase;
        color: #FFFFFF;
        font-size: 1em;
        line-height: 1.5em;
        span{
        	font-weight: 600;
        }
    }
}

.shipName {
    color: $color_calypso;
}

@media screen and(max-width: 1200px) {
    .uniTall {
        .uniItinHalf {
            margin-bottom: 35px;
            .buttonContainer {
                .btn {
                    display: block;
                }
                .btn-small {
                    margin: 5px 0 0;
                }
            }
            .itinImage {
                margin: 0 -15px;
            }
            article {
                margin: 0 -15px;
            }
        }
        .uniItinFull .buttonContainer {
            .btn {
                display: block;
            }
            .btn-small {
                margin: 5px 0 0;
            }
        }
    }
}

@media screen and(min-width: 1200px) {
    .uniTall {
        font-size: 14px;
        article {
            padding: 0 30px 0 px;
        }
        .itinImage {
            padding-right: 30px;
        }
        .uniItinFull {
            padding: 0;
        }
        .uni-itin-copy {
            padding-right: 30px;
        }
    }
    .uniItinHalf {
        .itinImage {
            padding-right: 0;
            padding-left: 0;
        }
        article {
            padding: 15px 0 0;
        }
    }
    .col-sm-6 {
        &:nth-child(odd) .uniItinHalf .itinImage {
            margin-left: -15px;
        }
        &:nth-child(even) .uniItinHalf .itinImage {
            margin-right: -15px;
        }
    }
    .buttonContainer a {
        margin-bottom: 5px;
        width: 186px;
    }
}

@media screen and(max-width: 1199px) {
    .uniTall {
        font-size: 13px;
        article {
            padding: 10px 15px;
        }
    }
}

@media screen and(max-width: 991px) {
    .itinImageWrap {
        margin-bottom: 10px;
    }
    .buttonContainer {
        text-align: center;
    }
}

@media(max-width: 767px) {
    .buttonContainer {
        .btn {
            display: block;
        }
        .btn-small {
            margin: 5px 0 0;
        }
    }
}
