$bluefont: #356b99;
$altcall: #002353;
$lightbluefont: #4C698C;
$lighterbluefont: #B2BECD;
$Serif: civita-lightregular;
$Sans: proxima-nova;
@mixin bp-large {
    @media only screen and (max-width: 1200px) {
        @content;
    }
}

@mixin bp-medium {
    @media only screen and (max-width: 991px) {
        @content;
    }
}

@mixin bp-small {
    @media only screen and (max-width: 768px) {
        @content;
    }
}

@mixin bp-smaller {
    @media only screen and (max-width: 480px) {
        @content;
    }
}





/*------------------------------------------------
      Jason's Custom Styles
------------------------------------------------*/

/*CSS RESET*/



.btn {
    border-radius: 0;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .05em;
    @include bp-small {
        display: block;
        margin: 15px 0;
    }
}

.buttonContainer a {
    margin-bottom: 5px;
    width: auto;
    min-width: 200px;
}

.subhead {
    font-family: $Sans;
    text-transform: uppercase;
    color: $bluefont;
    //font-weight: 600;
    &.subhead-section-title {
        margin-bottom: 50px;
    }
}

.spacer {
    height: 75px;
}

.outline-image {
    outline: solid 5px #d6dadd;
    outline-offset: 3px;
}

.uni-whats-new {
    margin-bottom: 50px;
    margin-top: 30px;
    font-size: 18px;
    text-align: left;
    @include bp-small {
        font-size: 16px;
    }
    h3 {
        font-size: 1.2em;
        color: $bluefont;
        font-weight: 600;
        text-transform: uppercase;
    }
}


.img-responsive.flex-fixer{
    width: 100%;
}

.intro-copy {
    p {
        font-size: 1.2em;
        line-height: 1.8em;
        text-align: left;
        //padding: .5em;
        @include bp-medium {
            margin-bottom: 1em;
        }
    }
    .drop-cap {
        float: left;
        color: #000;
        font-size: 3em;
        line-height: 1em;
        padding-top: 10px;
        padding-right: 11px;
        padding-left: 0px;
        font-family: civita-lightregular;
    }
    h3 {
        margin-top: 0;
        margin-bottom: 20px;
        @include bp-large {
            font-size: 1em;
        }
    }
}

.uni-land-wrap {
    font-size: 18px;
    h3 {
        font-size: 1.6em;
        letter-spacing: 0.01em;
        @include bp-large {
            font-size: 1.6em;
        }
    }
    h4 {
        font-size: 1.2em;
        @include bp-large {
            font-size: 1em;
        }
    }
    p {
        font-size: 1.1em;
        padding: 0 30px;
        @include bp-large {
            font-size: .9em;
        }
        @include bp-small {
            padding: 0 0px;
        }
    }
}

.uniCopyContainer {
    line-height: 2em;
    text-align: center;
    font-family: $Sans;
}

.highlight {
    color: $lightbluefont;
    font-weight: 600;
}

.row-flex,
.row-flex .perk-content {
    display: flex;
    flex: 1 1 auto;
    @include bp-medium {
        display: block;
    }
}

//.row-flex {
//    &:nth-child(even) {
//        @include bp-medium {
//            background: lighten($lighterbluefont, 10%);
//        }
//    }
//}
.perk-content {
    justify-content: space-around;
    align-items: center;
    position: relative;
    text-align: center;
    .intro-image {
        max-width: 400px;
        position: relative;
        left: -4.5%;
        @include bp-large {
            max-width: 100%;
            position: static;
            left: 0%;
        }
    }
    &.perk-left {
        margin-right: -30px;
        @include bp-medium {
            margin-right: 0;
        }
    }
    &.perk-right {
        margin-left: -30px;
        @include bp-medium {
            margin-left: 0;
        }
    }
    h4 {
        color: $bluefont;
    }
    .new-ship {
        position: relative;
        .captionator {
            position: absolute;
            bottom: 0px;
            right: 0px;
            color: #eee;
            padding: 3px 5px;
            font-size: .7em;
            background: rgba(0, 0, 0, 0.2);
            text-align: right;
            border-radius: 3px 0 0 0;
        }
    }
    .learner {
        display: block;
        margin-top: 15px;
        font-size: .8em;
        &.biggerlearn {
            font-size: .88em;
        }
        a {
            text-decoration: none;
            position: relative;
            text-transform: uppercase;
            color: $altcall;
            i {
                font-size: .85em;
                right: -15px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                transition: all 200ms ease;
            }
            &:hover i {
                right: -20px;
            }
        }
    }
}

.vertcent {
    padding: 0 15px;
}

.position-image {
    position: relative;
    left: 75px;
    @include bp-large {
        position: static;
    }
}

.position-text {
    position: absolute;
    left: -25px;
    background: #fefefe;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    @include bp-large {
        position: static;
        transform: translateY(0%);
    }
}


/*-------------OFFER------------------*/

.offer-section {
    margin-bottom: 70px;
}

.uniofferwrap {
    text-align: center;
    border: solid 2px #d6dadd;
    outline: solid 2px #d6dadd;
    outline-offset: -8px;
    padding: 22px 0 10px 0;
    font-size: 14px;
    color: #567caa;
    max-width: 700px;
    margin: 0 auto;
    .learner {
        font-size: .95em;
    }
}

.uniofferwrap .offer-left {
    margin-right: 1px;
    max-width: 50%;
}

.uniofferwrap .offer-right {
    margin-left: 1px;
    max-width: 50%;
}

.uniofferwrap .date {
    position: relative;
    width: 40%;
    margin: 10px 0;
    transform: translateX(-50%);
    background: #dee5ee;
    left: 50%;
    top: 0;
    height: 1px;
    font-size: 1.6em;
    font-weight: 600;
}

.uniofferwrap .date div {
    background: #FFF;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 0;
    padding: 0 15px;
    z-index: 1;
}

.uniofferwrap h3 {
    margin: 5px 0 15px 0;
    color: #244c7e;
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 600;
}

.uniofferwrap .offersaver {
    font-size: 1.7em;
    color: #244c7e;
    font-weight: 600;
}

.uniofferwrap .offersaver small {
    color: #567caa;
    font-weight: 100;
}

.uniofferwrap .ammount {
    font-size: 2em;
    //font-weight: 600;
}

.uniofferwrap .per {
    font-size: 1.3em;
}

.uniofferwrap .ammount small {
    font-size: .5em;
}

.uniofferwrap .ammount .currency {
    font-size: .5em;
    margin-right: 2px;
    position: relative;
    top: -.5em;
}

.uniofferwrapinner {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding: 5px 0;
}

.uniofferwrapinner .uniofferrow {
    display: block;
}

.uniofferwrapinner .uniofferrow small {
    @include bp-large {
        display: block;
    }
    @include bp-medium {
        display: inline-block;
    }
    @include bp-smaller {
        display: block;
    }
}

.uniofferwrapinner .uniofferor {
    width: 2px;
    left: 1px;
    position: relative;
    background: #dadada;
}

.uniofferwrapinner .uniofferor .or-bridge {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2.2em;
    transform: translate(-50%, -50%);
    font-family: $Serif;
    background: #FFF;
    font-weight: 600;
    color: #567caa;
    padding: 3px;
}

@media only screen and (max-width: 768px) {
    .uniofferwrap {
        font-size: 13px;
    }
}


/*-----------END OFFER------------*/

@media only screen and (max-width: 991px) {
    .hide-med-dwn {
        display: none!important;
    }
}

@media only screen and (min-width: 992px) {
    .hide-med-up {
        display: none!important;
    }
}