
#uniDisclaimer {
    margin-bottom: 50px;
}



.copyWrap.row {
	margin-top: 25px;
}

.buttonRow {
	text-align: center;
	margin-top: 30px;
}

.copyWrap p {
	font-size: 16.50px;
	line-height: 1.7;
}

.copyWrap.row .col-md-4 {
	padding: 60px 0;
}

.exploreWorld h3 {
	text-align: center;
}

.exploreWorld header.uni-module-header-flourish.uni-module-header {
	margin-top: 0;
}

.uni-header-global + .container .uni-module-header.uni-module-header-lines {
	display: none;
}

.exploreWorld p {
	font-size: 15px;
	margin-top: 10px;
}

.exploreWorld .uniVideoTitle {
	padding: 35px 2% 13px 2%;
}

.uniVideoTitle h2 {
	font-size: 3.25em;
	text-align: center;
	font-family: civita-lightregular, serif;
}

h3.uniVideoTitle {
	font-size: 1.5em;
	font-family: civita-lightregular, serif;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 100%);
	margin: 0;
}