/*================================================================================================================================================
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!SITE-WIDE STYLES-SITE-WIDE STYLES-SITE-WIDE STYLES!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
================================================================================================================================================*/
/*========================================================================
!!!!!!!!!!!!!!!!!!!!!!!!!GENERAL-GENERAL-GENERAL!!!!!!!!!!!!!!!!!!!!!!!!!
========================================================================*/
/*
centered columns styles
========================================================================*/
.row-centered {
    text-align: center;
}
.col-centered {
    display: inline-block;
    float: none;
    margin-right: -4px;
    /* reset the text-align */
    /* text-align: left; */
    vertical-align: top;
    /* inline-block space fix */
    vertical-align: top;
}
/*
lists
========================================================================*/
.uniUnorderedList li {
    list-style: disc;
    list-style-position: outside;
    margin-bottom: 5px;
    margin-left: 18px;
    text-align: left;
}
/*
subheads
========================================================================*/
/*use to seperate the intro content from itins*/
.uniSectionSubheadTop {
    border-bottom: 2px solid #dadbdd;
    margin-top: 20px;
    padding-bottom: 10px;
}
.uniSectionSubheadTop h4 {
    margin: 0;
}
/*for landing pages to seperate sections of content*/
.uniSectionSubhead {
    border-top: 2px solid #dadbdd;
    margin-top: -5px;
    padding-top: 20px;
}
.uniSectionSubhead h2 {
    margin: 0;
}
/*for center aligned subheads w/o rules*/
.uniCenteredSubhead {
    margin-bottom: 20px;
    text-align: center;
}
/*
tables
========================================================================*/
.uniTableHead {
    background-color: #eee;
    border-bottom: 1px solid black;
}
/*
Psudotabs
=========================================================================*/
.uniPsudoTabs {
    margin-top: 25px;
}
/*
disclaimers
========================================================================*/
#uniDisclaimer {
    font-size: 11px;
    padding: 15px 0;
}
.uniDisclaimerLeftCA {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: calc(100% - 81px);
}
.uniDisclaimerRightCA {
    float: left;
    width: 81px;
}
/*
new video row format
========================================================================*/

.uniVideoHero{
  position: relative;
}


.uniVideoTitle h2 {
	text-align:center;
  font-family: civita-lightregular;
  font-size: 2.65em;
}



.uniVideoTitle h2 {
    font-size: 2.25em;
    text-align: center;
    font-family: civita-lightregular, serif;
}



.uniVideoTitle h3 {
    font-size: 1.2em;
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
}


.uniVideoTitle p {
  font-size: 1.25em;
}


/*
video play button
========================================================================*/

.VideoImage {
	position:relative;
}

.VideoImage .VideoPlay, .uniVideoHero .VideoPlay {
  border: 3px solid #fff;
  border-radius: 30px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
  height: 50px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  z-index:5;
  pointer-events: none;
}

.VideoImage .VideoPlay span, .uniVideoHero .VideoPlay span {
    border-bottom: 12px solid transparent;
    border-left: 20px solid #fff;
    border-top: 12px solid transparent;
    height: 0;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-38%, -50%);
    width: 0;
    pointer-events: none;
}
/*
low visibility cta for itin rows
========================================================================*/
.btn-low-priority:hover {
    background-color: #144B7F;
    color: #FFF;
}
.btn-low-priority {
    background-color: #FFFFFF;
    color: #144B7F;
    font-size: 1em;
    text-transform: uppercase;
}

/*
passenger quote style
=======================================================================*/

.passengerQuote {
	text-align:center;
}

.passengerQuoteBody {
    font-size: 1.9em;

    font-family: civita-lightregular, serif;
}

.passengerQuoteAttrb {
    font-size: 1.2em;
    margin-top: 0;

    text-transform: uppercase;
}








/*========================================================================
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!PAGE SPECIFIC!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
========================================================================*/
/*========================================================================
Landing Pages
========================================================================*/
/*
landing page general styles
=======================================================================*/
.container.fiftyfifty .btn,
.container.itineraries .btn {
    margin-bottom: 5px;
    margin-right: 5px;
}
/*
two column content
======================================================================*/
.container.seventythirty .col-sm-11:first-of-type,
.container.seventythirty .col-sm-10:first-of-type,
.container.seventythirty .col-sm-9:first-of-type,
.container.seventythirty .col-sm-8:first-of-type,
.container.seventythirty .col-sm-7:first-of-type,
.container.seventythirty .col-sm-6:first-of-type,
.container.seventythirty .col-sm-5:first-of-type,
.container.seventythirty .col-sm-4:first-of-type,
.container.seventythirty .col-sm-3:first-of-type,
.container.seventythirty .col-sm-2:first-of-type,
.container.seventythirty .col-sm-1:first-of-type,
.container.seventythirty .col-sm-11 .container.itineraries:first-of-type,
.container.seventythirty .col-sm-10 .container.itineraries:first-of-type,
.container.seventythirty .col-sm-9 .container.itineraries:first-of-type,
.container.seventythirty .col-sm-8 .container.itineraries:first-of-type,
.container.seventythirty .col-sm-7 .container.itineraries:first-of-type,
.container.seventythirty .col-sm-6 .container.itineraries:first-of-type,
.container.seventythirty .col-sm-5 .container.itineraries:first-of-type,
.container.seventythirty .col-sm-4 .container.itineraries:first-of-type,
.container.seventythirty .col-sm-3 .container.itineraries:first-of-type,
.container.seventythirty .col-sm-2 .container.itineraries:first-of-type,
.container.seventythirty .col-sm-1 .container.itineraries:first-of-type {
    padding-left: 0;
}
.container.seventythirty .col-sm-11:last-of-type,
.container.seventythirty .col-sm-10:last-of-type,
.container.seventythirty .col-sm-9:last-of-type,
.container.seventythirty .col-sm-8:last-of-type,
.container.seventythirty .col-sm-7:last-of-type,
.container.seventythirty .col-sm-6:last-of-type,
.container.seventythirty .col-sm-5:last-of-type,
.container.seventythirty .col-sm-4:last-of-type,
.container.seventythirty .col-sm-3:last-of-type,
.container.seventythirty .col-sm-2:last-of-type,
.container.seventythirty .col-sm-1:last-of-type,
.container.seventythirty .col-sm-11 .container.itineraries:last-of-type,
.container.seventythirty .col-sm-10 .container.itineraries:last-of-type,
.container.seventythirty .col-sm-9 .container.itineraries:last-of-type,
.container.seventythirty .col-sm-8 .container.itineraries:last-of-type,
.container.seventythirty .col-sm-7 .container.itineraries:last-of-type,
.container.seventythirty .col-sm-6 .container.itineraries:last-of-type,
.container.seventythirty .col-sm-5 .container.itineraries:last-of-type,
.container.seventythirty .col-sm-4 .container.itineraries:last-of-type,
.container.seventythirty .col-sm-3 .container.itineraries:last-of-type,
.container.seventythirty .col-sm-2 .container.itineraries:last-of-type,
.container.seventythirty .col-sm-1 .container.itineraries:last-of-type {
    padding-right: 0;
}
/*shared itin styles*/
.flexWrap,
.even article,
.odd article,
.uniAboutRivers .uniImgContainer,
.uniAboutRivers article,
.uniVideoRow article {
    display: table;
}
.uniVertCenter {
    display: table-cell;
    vertical-align: middle;
}
.uniTall h2,
.feat-itin .uniFull h2,
.feat-itin .uniHalf h2,
.uniTier3LPContent h3 {
    font-family: civita-lightregular;
    font-size: 2em;
}
.uniTall h3,
.feat-itin .uniFull h3,
.feat-itin .uniHalf h3 {
    font-size: 1.25em;
    text-transform: uppercase;
}
.uniTall h2,
.feat-itin .uniFull h2,
.feat-itin .uniHalf h2,
.uniTall h3,
.feat-itin .uniFull h3,
.feat-itin .uniHalf h3 {
    margin: 0 0 5px 0;
}
.uniHalf .uniVertCenter p:first-of-type,
.uniFull .uniVertCenter p:first-of-type,
.uniTall .uniVertCenter p:first-of-type {
    font-size: 1em;
    margin-bottom: .65em;
    margin-top: .65em;
}
.uniTall p,
.feat-itin .uniFull p,
.feat-itin .uniHalf p {
    font-size: 1em;
    margin-bottom: .5em;
}
.uniTall p strong,
.feat-itin .uniFull p strong,
.feat-itin .uniHalf p strong {
    text-transform: uppercase;
}
.uniImgContainer {
    padding: 0;
}
/*
landing page alternating itin row general styles
======================================================================*/
.even {
    background-position: top left;
}
.feat-itin .even article {
    float: right !important;
}
.odd {
    background-position: top right;
}
.feat-itin .odd article {
    float: left !important;
}
.feat-itin .odd,
.feat-itin .even {
    margin-bottom: 5px;
}
/*
landing page half itin row general styles
======================================================================*/
.col-sm-6 .container.itineraries {
    padding: 0;
}
.container.fiftyfifty div.col-sm-6:first-of-type {
    padding-left: 0;
}
.container.fiftyfifty div.col-sm-6:last-of-type {
    padding-right: 0;
}
.uniHalf {
    min-height: 321px;
    padding-bottom: 30px;
}
.uniHalf article {
    padding-top: 10px;
}
/*
tier 3 landing page content
======================================================================*/
.uniTier3LPContent {
    margin-bottom: 18px;
    min-height: 400px;
    text-align: center;
}
.uniTier3LPContent .btn {
    font-size: 12px;
    padding: 7px 25px;
}
.uniTier3LPContent h2 {
    font-size: 21px;
}
/*uniTall general*/
.uniTall.row {
    border-bottom: 1px solid #d8d8d8;
    height: auto;
    margin-bottom: 35px !important;
    padding-bottom: 35px;
}
.itinImageWrap {
    border: 5px solid #e2e5e8;
    padding: 3px;
}
.shipName {
    color: #356b99;
}
.uniTall .buttonContainer {
    margin-top: 10px;
}
/*
tab adjustments
=========================================================================*/
.tab-faqs .nav-tabs {
    /* margin-top: 34px; */
}
/*
itin rows in tabs
=========================================================================*/
.tab-faqs .tabpanel-tabs {
    width: 100%;
}
.tab-content article p {
    font-size: 14px;
    margin: initial;
    margin-bottom: 10px;
    max-width: 1500px;
    text-align: initial;
}
.tab-content article h2 {
    margin: initial;
    text-align: initial;
}
.tab-content article h3 {
    font-size: 17px;
    margin: initial;
    text-align: initial;
}
.tab-content .even article {
    float: right;
}
.tab-content article li {
    font-size: 14px;
    margin: initial;
    margin: 0 0 5px 15px !important;
    padding: 0;
    position: initial;
    text-align: initial;
}
.tab-content li::after {
    display: none;
}
.tab-content p.uniCaption {
    font-size: 13px;
    text-align: left;
}







/*========================================================================
Offer Tiles
========================================================================*/


/*
content blocks
======================================================================*/

.uniOfferFrame {
	background-color: #fff;
	box-shadow: inset 0 0 8px rgba(0, 0, 0, .25);
	margin-top: 10px;
	padding: 7px;
}

.uniOfferFrameInner {
	background-color: #fff;
	border: solid 3px #fff;
	box-shadow: inset 0 0 32px rgba(131, 136, 145, .45);
	padding: 31px 25px;
	text-align: center;
}

.offerLeft,
.offerRight,
.offerMid,
.offerYearTitle,
.offerYearHead,
.offerTitle,
.offerLink,
.offerYearTitle hr {
	display: inline-block;
	text-align: center;
}

.offerLeft,
.offerRight {
	max-width: 220px;
}

.offerLeft,
.offerRight,
.offerMid {
	vertical-align: middle;
}

.offerMid {
	    color: #5A8CB9;
	font-family: civita-mediumregular, serif;
	font-size: 2em;
	margin-left: 13px;
	margin-right: 18px;
}

.offerRightSingle {
	margin: auto;
	/* width: 356px; */
}

.offerRow {
	text-align: center;
}

.offerFrame {
	background-color: #fff;
	border: 2px solid #d4d4d4;
	-webkit-box-shadow: inset 0 0 8px #efefef;
	-moz-box-shadow: inset 0 0 8px #efefef;
	box-shadow: inset 0 0 0 8px #efefef;
	color: #144b7f;
	display: inline-block;
	padding: 2.15em 3.50em;
	text-align: center;
}

.offerRow .offerFrame {
	margin-bottom: 25px;
	margin-top: 25px;
}

.floatOffer {
	margin: auto;
	max-width: 690px;
	width: 100%;
}

.rightOfferSingle {
	margin: auto;
	/* width: 356px; */
}


/*
offer type styles
============================================================================*/

.offerFrame {
	line-height: 1;
}

.offerYearHead {
	color: #5A8CB9;
	font-size: 1.6em;
	font-weight: bold;
	letter-spacing: .105em;
	position: relative;
}

.offerYearTitle hr {
	background-color: #dadbdd;
	height: 1px;
	margin: 8px 0;
	width: calc(50% - 36px);
}

.offerTitle {
	font-family: civita-lightregular;
	font-size: 2em !important;
	font-weight: bold;
    letter-spacing: .047em;
	margin-bottom: .5em;
	margin-top: .07em;
    text-transform: capitalize;
}

.offerNoAmount {
	font-size: 1.6em !important;
	font-weight: normal !important;
	line-height: 1;
}

	.offerNoOfferClick {
    font-size: 1.25em;
    line-height: 1.45;
}


.offerLink {
	margin-top: 15px;
}


.priceAmount {
	color: #30699a;
	font-size: 2.15em;
	font-weight: bold;
	margin-bottom: .045em;
}

.offerPriceTo {
	font-size: .65em;
}

.saveUpTo {
	font-size: 1.56em;
	margin-bottom: .045em;
}

.offerCurrencySymbol {
	display: inline-block;
	font-size: .5em;
	padding-top: .17em;
	vertical-align: top;
}

.offerDisclaimer {
	font-size: 12px;
	line-height: 1.125em;
	margin: auto;
	max-width: 175px;
}












/*========================================================================
Why Uniworld
========================================================================*/
/*
About the Rivers
========================================================================*/
.uniAboutRivers {
    position: relative;
}
.feat-itin .uniAboutRivers .uniImgContainer {
    padding: 0;
}
.feat-itin .uniAboutRivers li {
    float: left;
}
.feat-itin .uniAboutRivers a {
    margin-right: 20px;
    max-width: 257px;
}
.uniAboutRivers {
    margin: 0 0 10px 0;
    min-height: 250px;
}
/*
Hallmarks of Distinction tabs
=========================================================================*/
.uniHallmarkTab p {
    text-align: left;
}
.uniHallmarkTab img {
    margin: 20px 30px;
}
/*
Family Friendly
=========================================================================*/
.uniKidsMenu {
    background-color: #f5f5f5;
    padding: 25px 56px;
    text-align: center;
}
p.uniKidsMenuSection {
    font-family: proxima-nova-bold, sans-serif;
    font-size: 18px;
    margin-top: 26px;
    text-transform: uppercase;
}
.uniKidsMenuDisclaimer {
    font-size: 10px;
}
.uniFamilyOffer {
    background-color: #eff1f4;
    margin: 20px 0 0 0;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
}
/*========================================================================
    Stackla Social Wedget
========================================================================*/
.uniStacklaRow {
    background-color: #c7d1d9;
    padding: 40px 0;
    width: 100%;
}
#uniuniStacklaFilterWrapper {
    margin: 0 auto 20px auto;
    width: 287px;
}
/*common uniStacklabutton aspects*/
.uniStacklabutton {
    border: 0;
    border-radius: 3px;
    display: block;
    float: left;
    font-family: sans-serif;
    font-size: 13px;
    margin: 0 10px 0 0;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
    width: auto !important;
}
/*uniStacklaFilter uniStacklabuttons type v1*/
.uniStacklaFilter input {
    display: none;
    position: absolute;
}
.uniStacklaFilter label {
    cursor: pointer;
}
/*inactive state*/
.uniStacklaFilter input[type=radio] + label {
    background-color: white;
}
/*active state*/
.uniStacklaFilter input[type=radio]:checked + label {
    background-color: #849eb6;
    color: white;
}
/*========================================================================
    Travelzoo
 ========================================================================*/
/*Travezoo form*/
.travelzooRowHeader {
    font-size: 13px;
    font-weight: bold;
    margin-top: 35px;
}
.travelzooRow {
    margin-bottom: 5px;
}
.travelzooRow div:nth-child(2) {
    color: red;
    text-decoration: line-through;
}
.travelzooOffer hr {
    border: 0;
    border-top: 1px solid #d8d8d8;
    margin-bottom: 3px;
    margin-top: 3px;
}


/*========================================================================
    Career Section
 ========================================================================*/

 /*
 Apply Now block for subpages
 ========================================================================*/
.applyNow {
	text-align: center;
	padding: 20px 0 40px 0;
}
.applyNow h3 {
	color: #356b99;
}






/*========================================================================
 Not Sure About - look at depricating
========================================================================*/

/*
PROTYPE: first implimentation of flex for LP intro/offer
========================================================================*/
.flexRow {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: flex-start;
	align-items: flex-start;
}

.flexIntro {
	order: 0;
	flex: 1 0 60%;
	align-self: auto;
}

.flexOfferWide {
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
}

.flexOfferNarrow {
	margin-left: 30px;
	order: 1;
	flex: 0 1 370px;
	align-self: auto;
}
/*
    jump button row
    ========================================================================*/
.uniJumpButtonRow {
    border-bottom: 1px solid;
    border-top: 1px solid;
    padding: 15px 0;
}
.uniJumpButtonRow .uniButtonWrap {
    margin: auto;
    width: 200px;
}
/*
    button alignment
    ========================================================================*/
.uniMenuLinks ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    min-height: 40px;
    -webkit-align-items: center;
    align-items: center;
}
/*
video row embed - depricated using new style
========================================================================*/
div.uniVideoContainer {
    display: block;
    padding: 0;
    width: 420px;
}
.embed-container {
    height: 0 !important;
    height: auto;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 66.0%;
    /* padding-top: 30px; */
    position: relative;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
    height: 315px;
    left: 0;
    position: absolute;
    top: 0;
    width: 420px;
}
.uniVideoRow {
    padding: 20px 40px;
}
.uniVideoRow article {
    float: right;
    min-height: 277px;
}
.feat-itin .uniVideoRow .uniVideoContainer {
    float: left;
}
.feat-itin .uniVideoRow .uniTextContainer {
    float: right;
}
/*========================================================================
!!!!!!!!!!!!!!!!!!!!!!!!!DESKTOP-DESKTOP-DESKTOP!!!!!!!!!!!!!!!!!!!!!!!!!
========================================================================*/
@media (min-width: 1200px) {

    /*
        2016 Itinerary Row images
        ========================================================================*/
    #uniAPortraitofMajesticFrance-2016-L {
        background-image: url(~/media/f6bcb69dac50407ab6bc97dbbcc9bf04.ashx);
        background-repeat: no-repeat;
    }
    #uniAPortraitofMajesticFrance-2016-R {
        background-image: url(~/media/0650430128ad416bbec8d43e4738dbef.ashx);
        background-repeat: no-repeat;
    }
    #uniBordeauxVineyardsChateaux-2016-L {
        background-image: url(~/media/dcc771ccae2b4189aaf225f17449685b.ashx);
        background-repeat: no-repeat;
    }
    #uniBordeauxVineyardsChateaux-2016-R {
        background-image: url(~/media/f4cc97117da94058a655c9b930a72683.ashx);
        background-repeat: no-repeat;
    }
    #uniBurgundyProvence-2016-L {
        background-image: url(~/media/26fdc81d66a248c9a9dbcf2a854b5c2c.ashx);
        background-repeat: no-repeat;
    }
    #uniBurgundyProvence-2016-R {
        background-image: url(~/media/17e3742ce09b4c6fa91deb419ece7f22.ashx);
        background-repeat: no-repeat;
    }
    #uniDanubeDiscoveryPrague-2016-L {
        background-image: url(~/media/acab032fae2e4b558fca245d3c73b72b.ashx);
        background-repeat: no-repeat;
    }
    #uniDanubeDiscoveryPrague-2016-R {
        background-image: url(~/media/e35f435c80884d8ea44c8d9f10ba7a4b.ashx);
        background-repeat: no-repeat;
    }
    #uniDelightfulDanubePrague-2016-L {
        background-image: url(~/media/16725dfccfca4a6098ab0373ac3b852b.ashx);
        background-repeat: no-repeat;
    }
    #uniDelightfulDanubePrague-2016-R {
        background-image: url(~/media/356a37c49e3d4e0db67ab88e20b95c9b.ashx);
        background-repeat: no-repeat;
    }
    #uniEnchantingDanube-2016-L {
        background-image: url(~/media/7ed770e35ef6422f8b1c43b8d2ea5bb5.ashx);
        background-repeat: no-repeat;
    }
    #uniEnchantingDanube-2016-R {
        background-image: url(~/media/ffc31cfe32074bef955c5235a62942c4.ashx);
        background-repeat: no-repeat;
    }
    #uniEuropeanJewels-2016-L {
        background-image: url(~/media/c44804c900f044d3b2d75c5d6ab4064d.ashx);
        background-repeat: no-repeat;
    }
    #uniEuropeanJewels-2016-R {
        background-image: url(~/media/69bb3620f9924c3e93607b0654e19dbb.ashx);
        background-repeat: no-repeat;
    }
    #uniGrandEuropeanDiscovery-2016-L {
        background-image: url(~/media/4625cb1bfbeb4cbab57137ce72eed9cd.ashx);
        background-repeat: no-repeat;
    }
    #uniGrandEuropeanDiscovery-2016-R {
        background-image: url(~/media/02ae8fe3582247669fd3d011d15e18fc.ashx);
        background-repeat: no-repeat;
    }
    #uniGrandFrance-2016-L {
        background-image: url(~/media/9ee394a0500e4d0aa3190920e274759c.ashx);
        background-repeat: no-repeat;
    }
    #uniGrandFrance-2016-R {
        background-image: url(~/media/8032e400e76b452ba284500f114487f0.ashx);
        background-repeat: no-repeat;
    }
    #uniHighlightsofEasternEuropeIstanbul-2016-L {
        background-image: url(~/media/7442b7b069d9443ba0d7c48a0b03478b.ashx);
        background-repeat: no-repeat;
    }
    #uniHighlightsofEasternEuropeIstanbul-2016-R {
        background-image: url(~/media/82eb1412fea246ff947bb3fa72ff42ba.ashx);
        background-repeat: no-repeat;
    }
    #uniHollandBelgiumatTulipTime-2016-L {
        background-image: url(~/media/9419931187534b3692ac12d2b73c961c.ashx);
        background-repeat: no-repeat;
    }
    #uniHollandBelgiumatTulipTime-2016-R {
        background-image: url(~/media/7c361b04bbeb4a6ba32c06d3601a7817.ashx);
        background-repeat: no-repeat;
    }
    #uniJewelsofSpainPortugaltheDouroRiver-2016-L {
        background-image: url(~/media/f8f9898158b04e5596f8a07fb474b2ca.ashx);
        background-repeat: no-repeat;
    }
    #uniJewelsofSpainPortugaltheDouroRiver-2016-R {
        background-image: url(~/media/135678573e7344c693606b18688d0933.ashx);
        background-repeat: no-repeat;
    }
    #uniLegendaryRhineMoselle-2016-L {
        background-image: url(~/media/29062b82e1a443ba9aa5fdfd2c36afd5.ashx);
        background-repeat: no-repeat;
    }
    #uniLegendaryRhineMoselle-2016-R {
        background-image: url(~/media/66493d38589640bfabd0aa6e2037008c.ashx);
        background-repeat: no-repeat;
    }
    #uniParisNormandy-2016-L {
        background-image: url(~/media/f8c03fc3530b426f899c67efffe603b2.ashx);
        background-repeat: no-repeat;
    }
    #uniParisNormandy-2016-R {
        background-image: url(~/media/b4d78d7a64214e599de1549c4dc7d3be.ashx);
        background-repeat: no-repeat;
    }
    #uniPortraitsofEasternEurope-2016-L {
        background-image: url(~/media/5c89f9da00bb4b548718f3d14721c973.ashx);
        background-repeat: no-repeat;
    }
    #uniPortraitsofEasternEurope-2016-R {
        background-image: url(~/media/4e60d8ea005f482b8dcac97ae0bd9551.ashx);
        background-repeat: no-repeat;
    }
    #uniPortugalSpainTheDouroRiverValley-2016-L {
        background-image: url(~/media/524e4ba9043c453e9f00015ae2990dcd.ashx);
        background-repeat: no-repeat;
    }
    #uniPortugalSpainTheDouroRiverValley-2016-R {
        background-image: url(~/media/981e3f7830df424ba20bdba1757d2ce6.ashx);
        background-repeat: no-repeat;
    }
    #uniRhineDiscoveryPrague-2016-L {
        background-image: url(~/media/43fe5c2619764b19894bc81195d74390.ashx);
        background-repeat: no-repeat;
    }
    #uniRhineDiscoveryPrague-2016-R {
        background-image: url(~/media/befb500818694db5bce11bdbb55c547b.ashx);
        background-repeat: no-repeat;
    }
    #uniSplendorsofItaly-2016-L {
        background-image: url(~/media/abfcd282ff1f440a8d24bb2b8bafd0da.ashx);
        background-repeat: no-repeat;
    }
    #uniSplendorsofItaly-2016-R {
        background-image: url(~/media/8cfe28d5c9354d76a4400ceb95a24018.ashx);
        background-repeat: no-repeat;
    }
    #uniTulipsWindmills-2016-L {
        background-image: url(~/media/4be9fc2e8e83422aaabc339ad29e3c22.ashx);
        background-repeat: no-repeat;
    }
    #uniTulipsWindmills-2016-R {
        background-image: url(~/media/6cda48fc5b2141218e142656b0208dd4.ashx);
        background-repeat: no-repeat;
    }
    #uniUltimateEuropeanJourney-2016-L {
        background-image: url(~/media/f321eb6a314447d9adbc5b2c7d1a1c56.ashx);
        background-repeat: no-repeat;
    }
    #uniUltimateEuropeanJourney-2016-R {
        background-image: url(~/media/cb379d0d47c84d4abbf9fe5cddae99ab.ashx);
        background-repeat: no-repeat;
    }
    #uniGemsofNorthernItaly-2016-L {
        background-image: url(~/media/6a8814aebe3945e6b0224955195da622.ashx);
        background-repeat: no-repeat;
    }
    #uniGemsofNorthernItaly-2016-R {
        background-image: url(~/media/0c7488a00b4341838b0b3abbb1efa031.ashx);
        background-repeat: no-repeat;
    }
    #uniChinaTibetTheYangtze-2016-L {
        background-image: url(~/media/66013ee2cc154315b6ff2563e7ce39ab.ashx);
        background-repeat: no-repeat;
    }
    #uniChinaTibetTheYangtze-2016-R {
        background-image: url(~/media/90762f6533024b098ff4ed1f35b9f492.ashx);
        background-repeat: no-repeat;
    }
    #uniGrandChinatheYangtze-2016-L {
        background-image: url(~/media/826976fc48f846ea84864a1d778c9362.ashx);
        background-repeat: no-repeat;
    }
    #uniGrandChinatheYangtze-2016-R {
        background-image: url(~/media/354943d52eaa4d129708deed112670db.ashx);
        background-repeat: no-repeat;
    }
    #uniHighlightsofChinatheYangtze-2016-L {
        background-image: url(~/media/8d115a8093264d90bfafa3d5cb84ff25.ashx);
        background-repeat: no-repeat;
    }
    #uniHighlightsofChinatheYangtze-2016-R {
        background-image: url(~/media/af0f658b85f442ca8214347bdb88acd3.ashx);
        background-repeat: no-repeat;
    }
    #uniTreasuresOfChinaAndTheYangtze-2016-L {
        background-image: url(~/media/348ea3820d3a4620be4b0f634542003d.ashx);
        background-repeat: no-repeat;
    }
    #uniTreasuresOfChinaAndTheYangtze-2016-R {
        background-image: url(~/media/5feb1aca1b534624a40620f68f9c2f5b.ashx);
        background-repeat: no-repeat;
    }
    #uniTimelessWondersofVietnamCambodiatheMekong-2016-L {
        background-image: url(~/media/0a8a689dcd0a41b296d489ed3aa36743.ashx);
        background-repeat: no-repeat;
    }
    #uniTimelessWondersofVietnamCambodiatheMekong-2016-R {
        background-image: url(~/media/760322fd883f4ac8a6aea973339b9e7c.ashx);
        background-repeat: no-repeat;
    }
    #uniImperialWaterwaysofRussia-2016-L {
        background-image: url(~/media/0c984b1701014afc87176a9cfcacccab.ashx);
        background-repeat: no-repeat;
    }
    #uniImperialWaterwaysofRussia-2016-R {
        background-image: url(~/media/43ac407de16c44ff954d3dfcf3d22d6e.ashx);
        background-repeat: no-repeat;
    }
    #uniIndiasGoldenTriangleSacredGanges-2016-L {
        background-image: url(~/media/4721022a4cfe4e7ab04d6fa8e40baf55.ashx);
        background-repeat: no-repeat;
    }
    #uniIndiasGoldenTriangleSacredGanges-2016-R {
        background-image: url(~/media/e2493286f26544e4b62a25ec2e714c51.ashx);
        background-repeat: no-repeat;
    }
    #uniSplendorsofEgyptTheNile-2016-L {
        background-image: url(~/media/f33ccae5a67c4f64abc5f3bee99e015e.ashx);
        background-repeat: no-repeat;
    }
    #uniSplendorsofEgyptTheNile-2016-R {
        background-image: url(~/media/2530e4065d0d4527b26110c6fb27ad83.ashx);
        background-repeat: no-repeat;
    }
    #uniCastlesAlongTheRhine-2016-L {
        background-image: url(~/media/5c86a36df3f64b269d8a6c2a4f4bdf05.ashx);
        background-repeat: no-repeat;
    }
    #uniCastlesAlongTheRhine-2016-R {
        background-image: url(~/media/99953175739845f48bc4987405992e2d.ashx);
        background-repeat: no-repeat;
    }
    #uniClassicChristmasMarkets-2016-L {
        background-image: url(~/media/a0bfe4a55ba442f8acc5d0af15e4188d.ashx);
        background-repeat: no-repeat;
    }
    #uniClassicChristmasMarkets-2016-R {
        background-image: url(~/media/9b3aa97e30ac49f9a66b7df592392afa.ashx);
        background-repeat: no-repeat;
    }
    #uniDanubeHolidayMarkets-2016-L {
        background-image: url(~/media/574576010d924b199c5d282870286ee8.ashx);
        background-repeat: no-repeat;
    }
    #uniDanubeHolidayMarkets-2016-R {
        background-image: url(~/media/a22721cae3274405be74387221d6e5bf.ashx);
        background-repeat: no-repeat;
    }
    #uniEnchantingChristmasNewYearsCruise-2016-L {
        background-image: url(~/media/33456e64194845ab93345a5dfd0e26b4.ashx);
        background-repeat: no-repeat;
    }
    #uniEnchantingChristmasNewYearsCruise-2016-R {
        background-image: url(~/media/43738160c0ff4ba09154c284e6b97d44.ashx);
        background-repeat: no-repeat;
    }
    #uniEuropeanHolidayMarkets-2016-L {
        background-image: url(~/media/f1bf311f589d4778baa0023365e38dfd.ashx);
        background-repeat: no-repeat;
    }
    #uniEuropeanHolidayMarkets-2016-R {
        background-image: url(~/media/c42855c311194675bcc1808b2cac5888.ashx);
        background-repeat: no-repeat;
    }
    #uniGrandChristmasNewYearsCruise-2016-L {
        background-image: url(~/media/3c895243156d415e868f7d2d327e027e.ashx);
        background-repeat: no-repeat;
    }
    #uniGrandChristmasNewYearsCruise-2016-R {
        background-image: url(~/media/baaf50ab91a34d49ac868bacf7d33fec.ashx);
        background-repeat: no-repeat;
    }
    #uniParisianHoliday-2016-L {
        background-image: url(~/media/3a5b9ff23b6849829fadd176bc4a42ce.ashx);
        background-repeat: no-repeat;
    }
    #uniParisianHoliday-2016-R {
        background-image: url(~/media/bee9d46413724f7da729279f0be16423.ashx);
        background-repeat: no-repeat;
    }
    #uniRhineHolidayMarkets-2016-L {
        background-image: url(~/media/a844197a4d914938bf3122910ca3cc5b.ashx);
        background-repeat: no-repeat;
    }
    #uniRhineHolidayMarkets-2016-R {
        background-image: url(~/media/4382da2d7b09407495bb6ffb5dc12aa9.ashx);
        background-repeat: no-repeat;
    }
    #uniUltimateFrance-2016-L {
        background-image: url(~/media/ae8f3f35751f4891b5641f17032a36ab.ashx);
        background-repeat: no-repeat;
    }
    #uniUltimateFrance-2016-R {
        background-image: url(~/media/5a5833d2d32b407788c24d3e5a3f212b.ashx);
        background-repeat: no-repeat;
    }
    .uniFull {
        height: 341px;
    }
    /*
        landing page half itin row general styles
        ======================================================================*/
    .uniHalf {
        min-height: 601px;
    }
}
/*========================================================================
!!!!!!!!!!!!!!!!!!!!!RESPONSIVE-RESPONSIVE-RESPONSIVE!!!!!!!!!!!!!!!!!!!!!
========================================================================*/
@media screen and (min-width: 1200px) {
    .uniTall.uniButtonFloat .buttonContainer {
        margin-top: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 187px;
        z-index: 5;
    }
    .buttonContainer a {
        margin-bottom: 5px;
        width: 186px;
    }
    .uniTall.uniButtonFloat h2,
    .uniTall.uniButtonFloat h3,
    .uniTall.uniButtonFloat p:first-of-type,
    .uniTall.uniButtonFloat p.uniItinCities {
        width: calc(100% - 187px);
    }
    .uniTall article {
        padding: 0 0 0 15px;
    }
    .feat-itin .odd article,
    .feat-itin .even article,
    .tabpanel-tabs .even article,
    .tabpanel-tabs .odd article {
        height: 341px;
        padding: 10px 40px;
    }
    .uniTall,
    .uniFull,
    .uniHalf {
        font-size: 14px;
    }
.uniTier3LPContent {
    font-size: 13px;
}

}
@media screen and (max-width: 1199px) {
    .feat-itin .odd article,
    .feat-itin .even article,
    .uniHalf article,
    .tabpanel-tabs .even article,
    .tabpanel-tabs .odd article {
        padding: 10px 0;
    }
    .uniTall article {
        padding: 10px 15px;
    }
    .uniTall,
    .uniFull,
    .uniHalf {
        font-size: 13px;
    }
    .uniTier3LPContent {
    font-size: 12.5px;
}
  .uniVideoTitle {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .6) 81%, rgba(0, 0, 0, .6) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(81%, rgba(0, 0, 0, .6)), color-stop(100%, rgba(0, 0, 0, .6)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .6) 81%, rgba(0, 0, 0, .6) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .6) 81%, rgba(0, 0, 0, .6) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .6) 81%, rgba(0, 0, 0, .6) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .6) 81%, rgba(0, 0, 0, .6) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#99000000', GradientType=0);
    /* IE6-9 */
    padding: 0 3% 2% 3%;
    text-shadow: 2px 2px 4px #000;
    text-shadow: 2px 2px 4px #000;
  }
}
@media (min-width: 1101px) {
    /*
        landing page half itin row general styles
        ======================================================================*/
    .uniHalf {
        min-height: 610px;
    }
    .feat-itin .even img {
        position: initial;
    }
      .uniVideoTitle {
    font-size: 12px;
    text-shadow: 2px 2px 4px #000;
  }
}

@media screen and (min-width: 992px) { }


@media screen and (max-width: 991px) {
    .itinImageWrap {
        margin-bottom: 10px;
    }
    .buttonContainer {
        text-align: center;
    }
    .feat-itin .uniTall article {
        padding: 10px 15px;
    }
}

@media (max-width: 852px) {
    .feat-itin .even img,
    .feat-itin .odd img {
       position: static;
    }
}

@media (min-width: 768px) {
.offerRow .offerFrame.offerOneThird {
	margin-bottom: 0;
	margin-top: 0;
}

}

@media (max-width: 767px) {
    /*
        landing page half itin row general styles
        ======================================================================*/
    .container.fiftyfifty div.col-sm-6:first-of-type,
    .container.fiftyfifty div.col-sm-6:last-of-type {
        padding: 0;
    }
          .uniVideoTitle {
    font-size: 11px;

  }
}
@media (min-width: 641px) {
    .offerFrame {
        margin-left: auto;
        margin-right: auto;
    }
    .offerMid {
        margin-left: 13px;
        margin-right: 18px;
    }
    .uniVideoTitle {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .6) 81%, rgba(0, 0, 0, .6) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(81%, rgba(0, 0, 0, .6)), color-stop(100%, rgba(0, 0, 0, .6)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .6) 81%, rgba(0, 0, 0, .6) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .6) 81%, rgba(0, 0, 0, .6) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .6) 81%, rgba(0, 0, 0, .6) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .6) 81%, rgba(0, 0, 0, .6) 100%);
    /* W3C */
  bottom: 0;
  color: #fff;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#99000000', GradientType=0);
    /* IE6-9 */
  left: 0;
    padding: 0 3% 2% 3%;
  position: absolute;
  right: 0;
  text-align: center;
  text-shadow: 2px 2px 4px #000;
    text-shadow: 2px 2px 4px #000;
}

}
@media (max-width: 640px) {
    /*
        offer styles
        ==========================================================================*/
    .offerFrame {
        font-size: 13px;
        width: 100%;
    }
    .offer {
        padding: 25px;
    }
    .leftOffer {
        float: none;
        width: 100%;
    }
    .offerMid {
        float: none;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 15px;
        padding-top: 15px;
        width: 100%;
    }
    .rightOffer {
        float: none;
        width: 100%;
    }
    div#Content div.listTemplateContainer .listItemPanel .offer h3 {
        margin-top: 0 !important;
    }
      .uniVideoTitle {
    font-size: 10px;
    padding: 0 0 1.5% 0;
  }
}
@media (max-width: 665px) and (min-width: 639px) {
    .offerFrame {
        font-size: 12.5px;
    }
}
@media (max-width: 533px) { }
@media (max-width: 400px) {
    /*
        tier 3 landing page content
        ======================================================================*/
    .uniTier3LPContent {
        width: 100% !important;
    }
}
/*================================================================================================================================================
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!END SITE-WIDE STYLES-END SITE-WIDE STYLES-END SITE-WIDE STYLES!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
================================================================================================================================================*/
