/*----------------------------
    Jason's Custom Styles
------------------------------*/
a {
  outline: 0; }
  a:hover, a:active, a:focus {
    text-decoration: none; }

section {
  font-size: 14px; }

#uniDisclaimer {
  font-size: 11px;
  padding: 15px 0 100px 0; }

/*--------TABS--------------*/
.tab-content {
  margin: inherit; }
  .tab-content li {
    font-size: .9em;
    text-align: inherit;
    padding: inherit; }

/*TAB NAV*/
.nav-tabs {
  border: none;
  text-align: center;
  font-size: 0;
  margin-top: 30px; }
  .nav-tabs li {
    float: none;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 5px;
    margin: 1%;
    width: 46%;
    font-size: 12px;
    border-radius: 3px; }
    .nav-tabs li.active {
      background: #c7d1d9; }
      .nav-tabs li.active a {
        color: #00315a; }
    .nav-tabs li a {
      color: #7b97b1; }
    .nav-tabs li:hover {
      background: #f5f6f8; }
  .nav-tabs li a,
  .nav-tabs li a:focus,
  .nav-tabs li.active a,
  .nav-tabs li.active a:focus,
  .nav-tabs li a,
  .nav-tabs li a:focus {
    border: none;
    outline: 0; }
  .nav-tabs a span {
    display: block;
    font-size: 1em;
    font-weight: 600; }
  .nav-tabs .svg-wrap {
    display: none; }
  .nav-tabs li.active .svg-wrap {
    background: #89a5be; }
  .nav-tabs svg {
    width: 65px;
    height: 65px; }

.uni-tab-line-divider {
  background: #c7d1d9;
  height: 1px;
  max-width: 420px;
  margin: 30px auto 20px auto; }

/*TAB PANELS*/
figcaption {
  margin: 15px 0; }
  figcaption small {
    font-size: 100%; }

.uni-tabs h2 {
  color: #144b7f;
  font-size: 1.3em; }

.itin-head h2 {
  text-align: center;
  font-family: civita-lightregular;
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 1.77em;
  color: #144b7f; }

.intro h3 {
  font-size: 1.2em;
  font-family: civita-lightregular;
  color: #144b7f; }

.uni-tabs h4 {
  font-size: 1em;
  margin: 15px 0;
  max-width: 900px;
  margin: 0 auto; }

.uni-tabs .uni-tab-headings {
  margin-bottom: 50px; }

.uni-tabs ul li {
  margin: 15px 0;
  font-size: 1em; }

.tab-pane {
  text-align: center;
  font-size: 18px;
  padding-bottom: 50px; }
  .tab-pane h2 {
    color: #356b99;
    font-size: 1.4em; }
  .tab-pane h4 {
    font-weight: 100; }
  .tab-pane ul {
    text-align: left;
    margin: 0;
    padding: 0; }
    .tab-pane ul li {
      margin: 15px 0; }

.uni-tabs-videos figure .uw-vid-wrap {
  position: relative; }
  .uni-tabs-videos figure .uw-vid-wrap .img {
    position: relative; }
  .uni-tabs-videos figure .uw-vid-wrap .uw-play {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.26);
        -ms-transform: translateX(-50%) translateY(-50%) scale(0.26);
            transform: translateX(-50%) translateY(-50%) scale(0.26);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear; }
  .uni-tabs-videos figure .uw-vid-wrap:hover .uw-play {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.28);
        -ms-transform: translateX(-50%) translateY(-50%) scale(0.28);
            transform: translateX(-50%) translateY(-50%) scale(0.28); }

/*!
// CSS only Responsive Tables
// http://dbushell.com/2016/03/04/css-only-responsive-tables/
// by David Bushell
*/
.rtable {
  /*!
// IE needs inline-block to position scrolling shadows otherwise use:
// display: block;
// max-width: min-content;
*/
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  border-collapse: collapse;
  border-spacing: 0;
  color: #5b5b5b; }

.rtable,
.rtable--flip tbody {
  -webkit-overflow-scrolling: touch;
  background: -webkit-radial-gradient(left ellipse, rgba(0, 0, 0, 0.2) 0%, transparent 75%) 0 center, -webkit-radial-gradient(right ellipse, rgba(0, 0, 0, 0.2) 0%, transparent 75%) 100% center;
  background: radial-gradient(ellipse at left, rgba(0, 0, 0, 0.2) 0%, transparent 75%) 0 center, radial-gradient(ellipse at right, rgba(0, 0, 0, 0.2) 0%, transparent 75%) 100% center;
  background-size: 10px 100%, 10px 100%;
  background-attachment: scroll, scroll;
  background-repeat: no-repeat; }

.rtable th:first-child,
.rtable td:first-child {
  background-image: -webkit-linear-gradient(left, white 50%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to right, white 50%, rgba(255, 255, 255, 0) 100%);
  background-repeat: no-repeat;
  background-size: 20px 100%; }

.rtable th:last-child,
.rtable td:last-child {
  background-image: -webkit-linear-gradient(right, white 50%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to left, white 50%, rgba(255, 255, 255, 0) 100%);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 20px 100%; }

/*.rtable tr:nth-child(even){
    background: lighten($tabBG, 15%);
}
*/
.rtable tr td:nth-child(4) {
  font-style: italic; }

.rtable th {
  font-size: .75em;
  text-align: center;
  padding: 6px 12px;
  text-transform: uppercase;
  vertical-align: bottom; }
  .rtable th div {
    width: 40px;
    height: 1px;
    background: rgba(50, 50, 50, 0.5);
    margin: 5px auto 10px; }

.rtable td {
  font-size: .75em;
  padding: 6px 12px; }

.rtable th,
.rtable td {
  border: none; }

/*-------CALL OUT----------*/
.jj-call-out {
  outline: solid 8px #ededed;
  border: solid 1px #c7c7c7;
  padding: 10px 20px 20px 20px;
  margin-top: 10px;
  margin-bottom: 10px; }
  .jj-call-out h2 {
    color: #00315a;
    font-size: 2em;
    letter-spacing: .01em; }
  .jj-call-out ul {
    list-style: disc;
    font-size: 1em; }
    .jj-call-out ul li:first-child {
      list-style: none;
      font-weight: 600; }
    .jj-call-out ul li:last-child {
      list-style: none;
      font-style: italic; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .itin-head h2 {
    font-size: 2.5em; }

  .nav-tabs {
    margin-top: 0px; }
    .nav-tabs .svg-wrap {
      margin: 15px auto;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 10px;
      position: relative;
      z-index: 6;
      background: #c7d1d9;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      -webkit-transition: background 250ms linear;
      transition: background 250ms linear; }
      .nav-tabs .svg-wrap .tab-outline {
        position: absolute;
        width: 80px;
        height: 80px;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        -webkit-transition: all 250ms ease;
        transition: all 250ms ease;
        left: 50%;
        top: 50%;
        border: solid 4px #c7d1d9;
        border-radius: 50%;
        z-index: 12; }
    .nav-tabs li {
      display: inline-block;
      width: 140px; }
      .nav-tabs li.active {
        background: none; }
        .nav-tabs li.active .tab-outline {
          width: 96px;
          height: 96px; }
      .nav-tabs li:hover {
        background: none; }
        .nav-tabs li:hover .svg-wrap {
          background: #89a5be; }
    .nav-tabs a span {
      font-size: 1.3em; }

  .jj-call-out ul {
    font-size: 1.2em; }
    .jj-call-out ul li:last-child {
      font-size: 1em;
      margin-top: 5px; } }
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/*--------END TABS--------------*/
.intro-section {
  font-size: 14px;
  font-family: proxima-nova; }
  .intro-section .btn {
    margin-top: 50px; }
  .intro-section .booker {
    color: #c7d1d9;
    font-weight: 600; }
  .intro-section .sailer {
    font-style: italic;
    color: #144b7f;
    font-weight: 600; }

@media only screen and (min-width: 768px) {
  .intro-section {
    font-size: 18px; } }

/*# sourceMappingURL=departures.css.map */